<div class="container">
<h1 class="center-align">Log in</h1>
<div class="row ">
  <div class="col s6 m6 ">
    <%= form_with scope: :session, url:login_path, local: true do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <p><%= f.submit "Log in", class: "btn  blue lighten-2" %></p>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path, class: "btn  blue lighten-2"  %></p>
  </div>
</div>
</div>