<div class="container">
  <div class="row flex">
    <div class="col s12 m6 center">
      <h2>Update</h2>
      <div class="row">
        <%= form_with model: @user, url:update_user_path,local: true do |f| %>
        <%= render 'shared/error_messages' %>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :name %>
            <%= f.text_field :name%>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :password %>
          <%= f.password_field :password %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>
          </div>
        </div>
          <%= f.submit "Update", class: "btn btn-primary blue lighten-2 " %>
        <% end %>
        <div><%= link_to "Leave this site", delete_user_path(@user), method: :delete,  data: { confirm: "退会しますか？" }, class: "btn btn  red darken-1" %></div>
      </div>
    </div>
  </div>
</div>



