<div class="header-content">
  <h1 class="header-content-title">E-Go!</h1>
</div>
<div class="container">
<%= render partial: 'shared/link_nav_user' %>
  <h3 class="center"><%= @today %>の最新ニュース</h3>
  <div class="inner ">
    <div class="row flex">
      <% @all_articles.each do |headline| %>
      <div class="col s12 m3">
          <div class="card white hoverable">
              <a class="modal-trigger" href="#<%= headline.title %>">
                <div class="card-image">
                <%=  image_tag headline.urlToImage,size:"auto" %>
                </div>
                <div class="card-content black-text">
                  <p><%= headline.title %></p>
                </div>
              </a>
              <div id="<%= headline.title %>" class="modal">
                <div class="modal-content">
                  <h4><%= headline.title %></h4>
                  <p><%= headline.publishedAt %></p>
                  <p><%= headline.description %></p>
                  <p><%= link_to headline.url, headline.url,class: "blue-text" , target: :_blank %></p>
                </div>
                <div class="modal-footer">
                  <p class="modal-close waves-effect waves-green btn-flat">Close</p>
                </div>
              </div>
            <div class="card-action">
            <%= link_to "記事にする", new_user_article_path(title: headline.title,url: headline.url, publishedAt: headline.publishedAt), class: "blue-text" %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
  </div>
</div>
<div  class= "center-align">
  <%= paginate @all_articles %>
</div>


