<div class="inner ">
	<div class="row">
    <h3>Headline News</h3>
    <% @all_articles.each do |all_article| %>
    <div class="col s12 m12">
      <div class="card blue-grey darken-1 hoverable">
        <%=  image_tag all_article.urlToImage, size: '320x240' %>
        <div class="card-content white-text">
          <span class="card-title">
             <%= all_article.title %></span>
          <p><%= all_article.description %></p>
        </div>
        <div class="card-action">
          <%= link_to all_article.url, all_article.url %>
        </div>
      </div>
    </div>
    <% end %>
    <%= link_to "ニュースサイトを探す",publishers_path%>
  </div>
</div>


