<div class="container">
  <nav>
    <div class="nav-wrapper  pink lighten-2">
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><%= link_to "All",user_path %></li>
        <li><%= link_to "Business",user_path(category:1) %></li>
     </ul>
    </div>
</nav>
<div class="inner ">
  <div class="row">
      <div class="col s12 m8">
        <% @articles.each do |article| %>
        <div class="card white hoverable">
          <div class="card-content ">
            <span class="card-title ">
              <%= article.title %>
            </span>
            <div class="content black-text">
            <p><%= article.japanese_title%></p>
            <p>Category:<%= article.category %></p>
            <p> Published at <%= article.published_at %></p>
            <p>外部リンク:<%= link_to article.url,article.url,target: :_blank%></p>
            </div>
          </div>
          <div class="card-action center-align">
            <div class="option">
              <%= link_to  "Show", user_article_path(id: article.id) ,class: 'btn blue lighten-2'%>
              <%= link_to  "Edit", edit_user_article_path(id:article.id) ,class: 'btn green accent-3'%>
            <%= link_to  "Delete", user_article_path(id: article.id), method: :delete, class: 'btn red darken-1' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="col s12 m4">

      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><%= link_to "登録している単語一覧", user_words_path %></li>
        <li><%= link_to "記事の新規投稿" , new_user_article_path(current_user) %></li>
      </ul>
      </div>
    </div>
    </div>
  </div>
<div class="pagination center-align">
  <%= paginate @articles %>
</div>


