<div class="container">
  <div class="inner">
    <%= render partial: 'shared/link_nav_user' %>
    <nav>
      <div class="nav-wrapper  green lighten-2 ">
        <ul id="nav-mobile" class="list-center hide-on-med-and-down">
          <% @capitals1.each do |capital| %>
            <li><%= link_to capital ,user_words_path(capital: capital.downcase) %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <nav>
      <div class="nav-wrapper  green lighten-2">
       <ul id="nav-mobile" class="list-center hide-on-med-and-down">
          <% @capitals2.each do |capital| %>
            <li><%= link_to capital ,user_words_path(capital: capital.downcase) %></li>
          <% end %>
            <li><%= link_to "All" ,user_words_path %></li>
       </ul>
      </div>
    </nav>
    <div class="row">
      <div class="your-vocabulary col s8 offset-l2">
        <h3 class="center-align">単語帳</h3>
        <table class="centered striped">
          <thead>
            <tr>
              <th>Word</th>
              <th>Meaning</th>
            </tr>
          </thead>
          <tbody>
            <% @vocabs.each do |vocab| %>
              <tr>
                <td><%= vocab.english %></td>
                <td><%= vocab.japanese %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>