<nav>
  <div class="nav-wrapper green lighten-2">
    <ul id="nav-mobile" class="list-center hide-on-med-and-down">
      <li><%= link_to "経済",publishers_path(category:"business")  %></li>
      <li><%= link_to "エンターテイメント",publishers_path(category:"entertainment")  %></li>
      <li><%= link_to "一般",publishers_path(category:"general")  %></li>
      <li><%= link_to "医療",publishers_path(category:"health")  %></li>
      <li><%= link_to "科学",publishers_path(category:"science")  %></li>
      <li><%= link_to "スポーツ",publishers_path(category:"sports")  %></li>
      <li><%= link_to "テクノロジー",publishers_path(category:"technology")  %></li>
    </ul>
 </div>
</nav>