<nav>
    <div class="nav-wrapper pink lighten-2">
      <ul id="nav-mobile" class="list-center hide-on-med-and-down">
        <li><%= link_to "Business",publishers_path(category:"business")  %></li>
        <li><%= link_to "Entertainment",publishers_path(category:"entertainment")  %></li>
        <li><%= link_to "General",publishers_path(category:"general")  %></li>
        <li><%= link_to "Health",publishers_path(category:"health")  %></li>
        <li><%= link_to "Science",publishers_path(category:"science")  %></li>
        <li><%= link_to "Sports",publishers_path(category:"sports")  %></li>
        <li><%= link_to "Technology",publishers_path(category:"technology")  %></li>
      </ul>
    </div>
  </nav>