<div class="container">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><%= link_to "Business",publishers_path(category:"business")  %></li>
        <li><%= link_to "Entertainment",publishers_path(category:"entertainment")  %></li>
        <li><%= link_to "General",publishers_path(category:"general")  %></li>
        <li><%= link_to "Health",publishers_path(category:"health")  %></li>
        <li><%= link_to "Science",publishers_path(category:"science")  %></li>
        <li><%= link_to "Sports",publishers_path(category:"sports")  %></li>
        <li><%= link_to "Technology",publishers_path(category:"technology")  %></li>
      </ul>
    </div>
  </nav>
<h1><%= @category.capitalize %></h1>
<div class="inner ">
  <div class="row flex">
    <% @sources.each do |source| %>
        <div class="col s12 m6">
          <div class="card blue-grey darken-1 hoverable">
            <div class="card-content ">
              <span class="card-title orange-text"><%= source.name %></span>
              <div class="white-text">
              <p><%= source.description %></p>
              <p>Category:<%= source.category %></p>
              <p><%= link_to source.url, source.url, target: :_blank %></p>
              </div>
              <div class="card-action">
                <%= link_to "Headline News", show_publisher_path(sources: source.source_id) %>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
</div>
<div class="pagination center-align">
        <%= paginate @sources %>
</div>
