<div class="container">
<div class="inner ">
  <h1><%= @top_headlines[0].name %></h1>
  <div class="row flex">
    <div class="publisher">
    </div>
    <% if @top_headlines.present? %>
      <% @top_headlines.each do |headline| %>
        <div class="col s12 m6">
          <div class="card blue-grey darken-1 hoverable">
            <%= link_to(headline.url,target: :_blank) do %>
            <% if headline.urlToImage.present? %>
              <% if headline.urlToImage.include?("jpg") %>
              <div class="card-image">
                <%=  image_tag headline.urlToImage, size: 'auto' %>
              </div>
              <% end %>
            <% end %>
            <div class="card-content white-text">
              <p><%= headline.title %></p>
            </div>
            <% end %>
            <div class="card-action">
              <%= link_to "このニュースを記事にする", new_user_article_path(title: headline.title,url: headline.url, publishedAt: headline.publishedAt) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Headline news doesn't exist here</p>
    <% end %>
  </div>
</div>
</div>