<div class="container">
  <div class="inner ">
    <nav>
    <div class="nav-wrapper pink lighten-2">
      <ul id="nav-mobile" class="hide-on-med-and-down list-center">
        <li><%= link_to "Home ",root_path %></li>
        <li><%= link_to "Publishers",publishers_path(category: "general") %></li>
     </ul>
    </div>
  </nav>
    <%= render 'shared/link_nav' %>
    <h1 class="center"><%= @top_headlines[0].name %></h1>
    <p><%= @today %></p>
    <div class="row flex">
      <div class="publisher">
      </div>
      <% if @top_headlines.present? %>
        <% @top_headlines.each do |headline| %>
          <div class="col s12 m3">
            <div class="card white hoverable">
              <a class="modal-trigger" href="#<%= headline.title %>">
                <% if headline.urlToImage.present? %>
                  <% if headline.urlToImage.include?("jpg") || headline.urlToImage.include?("png") %>
                    <div class="card-image">
                      <%=  image_tag headline.urlToImage,size:"auto" %>
                    </div>
                  <% end %>
                <% end %>
                <div class="card-content black-text">
                  <p><%= headline.title %></p>
                </div>
              </a>
              <div id="<%= headline.title %>" class="modal">
                <div class="modal-content">
                  <h4><%= headline.title %></h4>
                  <p><%= headline.publishedAt %></p>
                  <p><%= headline.description %></p>
                  <p><%= link_to headline.url, headline.url, class: "blue-text",  target: :_blank%></p>
                </div>
                <div class="modal-footer">
                  <p class="modal-close waves-effect waves-green btn-flat">Close</p>
                </div>
              </div>
              <div class="card-action">
                <%= link_to "このニュースを記事にする", new_user_article_path(title: headline.title,url: headline.url, publishedAt: headline.publishedAt),class: "blue-text"  %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>Headline news doesn't exist here</p>
      <% end %>
    </div>
  </div>
</div>