<div class="container">
<div class="inner ">
    <nav>
    <div class="nav-wrapper pink lighten-2">
      <ul id="nav-mobile" class="center hide-on-med-and-down">
        <li><%= link_to "Business",publishers_path(category:"business")  %></li>
        <li><%= link_to "Entertainment",publishers_path(category:"entertainment")  %></li>
        <li><%= link_to "General",publishers_path(category:"general")  %></li>
        <li><%= link_to "Health",publishers_path(category:"health")  %></li>
        <li><%= link_to "Science",publishers_path(category:"science")  %></li>
        <li><%= link_to "Sports",publishers_path(category:"sports")  %></li>
        <li><%= link_to "Technology",publishers_path(category:"technology")  %></li>
      </ul>
    </div>
  </nav>
  <h1><%= @top_headlines[0].name %></h1>
  <div class="row flex">
    <div class="publisher">
    </div>
    <% if @top_headlines.present? %>
      <% @top_headlines.each do |headline| %>
        <div class="col s12 m3">
          <div class="card white hoverable">
            <%= link_to(headline.url,target: :_blank) do %>
            <% if headline.urlToImage.present? %>
              <% if headline.urlToImage.include?("jpg") %>
              <div class="card-image">
                <%=  image_tag headline.urlToImage, size: 'auto' %>
              </div>
              <% end %>
            <% end %>
            <div class="card-content bladk-text">
              <p><%= headline.title %></p>
            </div>
            <% end %>
            <div class="card-action">
              <%= link_to "このニュースを記事にする", new_user_article_path(title: headline.title,url: headline.url, publishedAt: headline.publishedAt) %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Headline news doesn't exist here</p>
    <% end %>
  </div>
</div>
</div>