<div class="container">
  <div class="row flex">
    <div class="col s12 m8">
      <h1 class="center">Update</h1>
      <%= form_with model:@article, url:user_article_path,  local: true do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title%>
        <div class="form-control">
          <%= f.label :content %>
          <%= f.text_area :content,class: "materialize-textarea" %>
        </div>
        <%= f.label :url%>
        <%= f.text_field :url%>
        <%= f.label :published_at%>
        <%= f.text_field :published_at%>
        <%= f.label :category %>
        <%= f.select :category, UserArticle.categories.keys.to_a, {}, class: "browser-default" %>
        <div class="button center">
          <%= f.submit "記事の更新", class: "btn blue lighten-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>