<div class="container">
  <div class="inner ">
    <div class="row flex">
      <div class="col s12 m8">
        <h4><%= @article.title %></h4>
        <p><%= @article.japanese_title %></p>
        <p><%= @article.content%></p>
        <p><%= @article.japanese_content%></p>
        <p>【vacabulary】</p>
        <% @words.each do |word|  %>
          <%= link_to word.downcase, create_vocab_path(user_article_id:params[:id],english: word), method: :post,remote: true %>
        <% end %>
        <div class="center-align">
          <%= link_to  "Articles", user_path(current_user) ,class: 'btn blue lighten-2' %>
          <%= link_to  "Delete", user_article_path(id: @article.id), method: :delete, class: 'btn red darken-1,', data: { confirm: "記事を削除しますか？" } %>
        </div>
      </div>
      <div id = "vocabulary" class="col s12 m4">
        <table class="centered" >
          <thead>
            <tr>
              <th>Word</th>
              <th>Meaning</th>
              <th>Option</th>
            </tr>
          </thead>
        </table>
        <div class="table-body">
          <table class="striped">
            <tbody>
              <% @vocabs.each do |vocab| %>
                <%= render partial: 'vocabs/index', locals: { vocab: vocab } %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
