<div class="container">
<div class="inner ">
  <div class="row flex">
	<div class="col s12 m9">
	<h4><%= @article.title %></h4>
	<p><%= @article.japanese_title %></p>
	<p><%= @article.content%></p>
	<p><%= @article.japanese_content%></p>
	<p >【vacabulary】</p>
	<% @words.each do |word|  %>
	<%= link_to word.downcase, create_vocab_path(user_article_id:params[:id],english: word), method: :post,
	remote: true %>
	<% end %>
	</div>
	<div class="col s12 m3">
		<table id = "vocabularies" class="centered" >
			<thead>
			  <tr>
			      <th>Word</th>
			      <th>Meaning</th>
			  </tr>
			</thead>
			<tbody>
				 <% @vocabs.each do |vocab| %>
					<%= render partial: 'vocabs/index', locals: { vocab: vocab } %>
				 <% end %>
			</tbody>
		</table>
	</div>
  </div>
  <div class="center">
  <%= link_to  "記事一覧", user_path(current_user) ,class: 'btn blue lighten-2'%>
  <%= link_to  "Delete", user_article_path(id: @article.id), method: :delete, class: 'btn red darken-1' %>
  </div>
</div>
</div>